# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    commit-message:
      prefix: chore # default is build
      include: scope
    schedule:
      interval: "daily"

  - package-ecosystem: "cargo"
    directory: "/"
    allow:
      - dependency-type: direct # disable lockfile-only updates (excluding security fixes)
    commit-message:
      prefix: chore
      include: scope
    schedule:
      interval: "daily"
