name: Sync

on:
  workflow_dispatch:
  push:
    branches:
      - dev

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  sync-to-mirrors:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Cache pnpm modules
        uses: actions/cache@v3
        with:
          path: ~/.pnpm-store
          key: ${{ runner.os }}-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - uses: pnpm/action-setup@v2.2.4
        with:
          run_install: true
      - name: Build packages
        run: pnpm build
      - name: Sync
        run: .github/sync-to-mirrors.sh
        env:
          BUILD_BASE: ${{ env.GITHUB_WORKSPACE }}/plugins
          API_TOKEN_GITHUB: ${{ secrets.ORG_TAURI_BOT_PAT }}
