<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <receiver android:name="app.tauri.notification.TimedNotificationPublisher" />
        <receiver android:name="app.tauri.notification.NotificationDismissReceiver" />
        <receiver
            android:name="app.tauri.notification.LocalNotificationRestoreReceiver"
            android:directBootAware="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
    </application>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
</manifest>